.container {
    display: grid;
    height: 100%;
    max-width: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-areas:
        "navbar  navbar navbar"
        "sidebar main   main"
        "footer  footer footer";
}

nav {
    grid-area: navbar;
    color:blueviolet;
    text-align: center;
    
    
}

aside {
    grid-area: sidebar;
    background-color: rgb(104, 84, 23);
    background-image: url(img/dr.png);
   
    
    
}

main {
    grid-area: main;
    background-color: #FF530D;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: rgb(107, 106, 192);
    background-image: url(img/ma.jpg);
    background-size: cover;
    height: 100%;
    overflow: hidden;

}

/* Initial styles */
body, html {
    height: 100%;
    margin: 0;
    width: 100%;
}

nav, aside, main, footer {
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding: 9rem 0;
    margin: 0;
}
.nav-link{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3,1fr);
    color: rgb(20, 41, 231);
    font-style: bold;
    text-align: right;
    width: 100%;
    
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: contents;
  }
li {
    display: inline;
   
  }
  
  li a {
    display: block;
    text-align: right;
    padding: 8px;
    background-color: #dddddd;
  }

.side{
    width: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  


  .text{
    text-align: end;
}
  
 
 @media screen and (max-width: 674px){

    body{
     font-size: 20px;
        width: 100%;
    }
} 


